*{
    margin: 0;
    padding: 0;
}

div{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 5px black dotted;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    
}
.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}