html{
    height: 100%;
}
body{
    height: 100%;
}
.row{
    text-align: center;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: bisque;
    text-transform: uppercase;
    font-size: large;
}
.header{
    
    background: pink;
}
.menu{ 
    
    background: purple;
}
.content{
   
    background: salmon;
}
.footer{
    
    background: lightblue;
}
.h-20{
    height: 20%;
}
.h-60{
    height: 60%;
}